<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>개인시간표</title>
<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}"></link>
<style type="text/css">
	#regist{
		margin:0px;
		font-size:20px;
		font-weight:620;
	}
	table{
		width:1500px;
		margin-left:40px;
		margin-right:40px;
		height:680px;
		border-spacing: 0px;
	}
	tr{
		border:3px solid;
		background: #fff;
		text-align: center;
	}
	td{
		width:250px;
		height:80px;
		border:1px solid #d0d0d0;
	}
	#day{
		background: #A8C8F9;
		font-weight:600;
	}
	#time{
		background: #ffdda6;
		font-weight:600;
	}
</style>
</head>
<body>
	<p id="regist"> ▲ 개인시간표</p>
	<table border="1">
		<tr id="day">
			<td style="background:#fff">교시</td>
			<td>월</td>
			<td>화</td>
			<td>수</td>
			<td>목</td>
			<td>금</td>
		</tr>
		<tr>
			<td id="time">1<br>(9:00~9:50)</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '월1~2') or #strings.equals(vo.crdate, '월1~3')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '화1~2') or #strings.equals(vo.crdate, '화1~3')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '수1~2') or #strings.equals(vo.crdate, '수1~3')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '목1~2') or #strings.equals(vo.crdate, '목1~3')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '금1~2') or #strings.equals(vo.crdate, '금1~3')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
		</tr>
		<tr>
			<td id="time">2<br>(9:55~10:45)</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '월1~2') or #strings.equals(vo.crdate, '월1~3') or #strings.equals(vo.crdate, '월2~3') or #strings.equals(vo.crdate, '월2~4')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '화1~2') or #strings.equals(vo.crdate, '화1~3') or #strings.equals(vo.crdate, '화2~3') or #strings.equals(vo.crdate, '화2~4')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '수1~2') or #strings.equals(vo.crdate, '수1~3') or #strings.equals(vo.crdate, '수2~3') or #strings.equals(vo.crdate, '수2~4')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '목1~2') or #strings.equals(vo.crdate, '목1~3') or #strings.equals(vo.crdate, '목2~3') or #strings.equals(vo.crdate, '목2~4')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
			<td>
				<span th:each="vo : ${list}"  th:if="${#strings.equals(vo.crdate, '금1~2') or #strings.equals(vo.crdate, '금1~3') or #strings.equals(vo.crdate, '금2~3') or #strings.equals(vo.crdate, '금2~4')}" th:utext="|${vo.crname}&lt;br /&gt;${vo.crprofessor}&lt;br /&gt;${vo.crroom}|"></span>
			</td>
		</tr>
		<tr>
			<td id="time">3<br>(10:50~11:40)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">4<br>(11:45~12:35)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">5<br>(12:40~13:30)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">6<br>(13:35~14:25)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">7<br>(14:30~15:20)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">8<br>(15:25~16:15)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">9<br>(16:20~17:10)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">10<br>(17:15~18:05)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">11<br>(18:10~18:55)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">12<br>(19:00~19:45)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">13<br>(19:50~20:35)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">14<br>(20:40~21:25)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">15<br>(21:30~22:15)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td id="time">16<br>(22:20~23:05)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</body>
</html>